.aleatory {
    background-color: red;
    width: 15em;
    height: 15em;
}

.behind {
    width: 15em;
    height: 15em;
    position: relative;
    left: 0;
    transition: ease 0.75s;
    z-index: -1;
}

.right {
    left: 20em;
}