.aleatory {
    // background-color: red;
    display: grid;

}

.behind {
    position: relative;
    left: 0;
    top: 0;
    transition: ease 0.75s;
    z-index: -1;
    grid-area: 1 / 1 / 2 / 2;
}

.right {
    left: 15em;
}

.left {
    top: 15em;
}
