.aleatory {
    // background-color: red;
    display: grid;

}

.front {
    grid-area: 1 / 1 / 2 / 2;
    background-color: red;
    width: 30%;
}

.behind {
    position: relative;
    left: 0;
    top: 0;
    transition: ease 0.75s;
    z-index: -1;
    grid-area: 1 / 1 / 2 / 2;
}

.right {
    left: 15em;
    background-color: blue;

}

.down {
    top: 15em;
    background-color: green;

}


.left {
    left: -15em;
}