
p {
    font-size: 1.3em;
}

h1 {
  text-align: center;
}

span {
    display: inline-block;
}

button {
    display: inline-block;
}

.outlet, div {
  width: 100%;
}

.rearrangedBox {
    height: 200px;
    width: 100%;
    z-index: -1;
}

.tooltip {
    position: relative;
    // display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 270px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


  .centerLayout {
    width: 100%;
    align-content: center;
    
  }