
.mainBlock {
    height: 70vh;
}

p {
    font-size: 2em;
}

span {
    display: block;
}

.peopleSee {
    text-indent: 37%;
}

.whatTheyWant {
    text-indent: 15%;
}

.andWhatPeople {
    text-indent: 2%;
}

.theTruth {
    text-indent: 2%;
}

.bolanoCitation {
    text-indent: 50%;
}