

<div class="block mainBlock" #bolanoBox >
    <p>
        <span class="peopleSee" [@animationBinding]="{value: firstVisibleState, params: {transitionDelay: transitionDelay}}"  >People see </span> <span class="whatTheyWant">what they want to see </span> 
        <span class="andWhatPeople" >and what people want to see</span>
        <span class="theTruth"> never has anything to do with the truth.</span>
        <!--  never has anything to do with the truth.  -->
    </p>
    
    <p class="bolanoCitation" >- Roberto Bolaño</p>
    </div>
    
    <button class="block" (click)="begin()" >
        Play 
    </button>